<h1>Here is the Video you requested</h1>

	<p><%= @vid.title %></p>

	<iframe width="560" height="315" src="<%= @vid.url %>" frameborder="0" allowfullscreen></iframe>

	<p><%= link_to "Index", "/videos" %></p>

